*{
    box-sizing: border-box;
}

/*Slideshow container*/
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
    border: solid;
}

/*Hide the image by defaults*/
.mySlides{
    display: none;
}

/*Next And previous buttons*/